h1{
    margin: auto;
    margin-top: 44px;
    margin-bottom: 15px;
    width: 312px;
    text-align: center;
    background-color: rgb(242, 219, 243);
    border-radius: 40px;
}

/*pyhoto logo*/

.logo{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 13%;
    height: 171px;
    border-radius: 123px;
      
}






@media screen and (max-width: 400px){
    .logo{

          
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 131px;
    border-radius: 123px;
    }
}
   
